

body {
  /* margin-left: 10%;
  margin-right: 10%; */
  background-color: grey;

  
}
.a {
  color: black;
}
.a:hover {
  color: black;
}

.titre {
  text-align: center;
  background-color: var(--couleur-principale);
  font-size: 1.25vw;
}
.title-space{
  font-size: 2vw;
  margin-top: 2px!important;
}
/* .card {
  text-align: center;
  background-color: var(--couleur-principale);
} */
div {
  background-color: var(--couleur-principale);
}
h1 {
  background-color: var(--couleur-principale)!important;
}
h6{
  font-size: 2vw!important;
}


.separationWhite {
  background-color: beige;
  width: 3px !important;
  height: 100%;
  border-radius: 50em !important;
}

.row {
  display: flex;
  margin-top: 0px;
  margin-left: 25px;
  margin-right: 25px;
}

#titleEffect {
  width: 18vw !important;
  box-shadow: -7px 7px 0px #dee2e6;
  background-color: RGB(0, 168, 168);
}

#test {
  background-color: RGB(0, 168, 168) !important;
}

#radius {
  border-bottom-right-radius: 0em 0em !important;
  border-bottom-left-radius: 0em 0em !important;
}
#comble {
  border-bottom-right-radius: 0em 0em !important;
  border-bottom-left-radius: 0em 0em !important;
  background-color: RGB(0, 168, 168) !important;
}
.pt-1 {
  padding-top: 0rem !important;
}

#couleurBlanc {
  color: #fffefd !important;
  padding-bottom: 10px !important;
  
}
#whrite {
  background-color: #fffefd !important;
}

.title {
  margin: 20px 0 20px 0 !important;
  text-align: center;
}
.space {
  letter-spacing: 10px;
  font-style: italic;
}
.nonepoint {
  list-style-type: none;
}
.qualites {
  margin-top: 20px !important;
}




#myButton {
	box-shadow: 3px 4px 0px 0px #156783;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
 
}

#impression {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	/* padding:7px 25px; */
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
  position: absolute;
  top : 0px;
}



#top{
  margin-left: 0px!important;
    background-color: white;
    height: 35px;
}

@media (min-width: 768px) and (max-width: 1199.98px){}

@media print {
  body{
    margin-left: 0px;
    margin-right: 0px;
  }
  #test1{
    margin: 0px;
  }

   
  #impression{
    display: none;
    
  }
  #invisible{
    display: none;
  }
  #top{
    display: none;
  }
 
}