body{

    background-color:RGB(255,255,255)!important;

    padding: 60px;

    border-radius:50%

}

.colorname{

    background-color: RGB(0,168,168) !important;

}

.a{

    color: black;

}

.a:hover{

color: black;

}

 

 

.titre{

    text-align: center;

    background-color:var(--couleur-principale);

}

 

.card{

    text-align: center;

    background-color:var(--couleur-principale);

 

}

/* div{

    background-color:var(--couleur-principale);

 

} /

/ h1{

    background-color:var(--couleur-principale);

} /

#map{

   display: flex;

}

 

/ .container{

    display: flex ;

    border-radius:50%

 

    margin-left: 25px ;

    margin-right: 25px;

}  */

 

.card ,test{

    margin-top: 25px;

    margin-right: 25px;

    border-radius:50%

}

 

.separationWhite{

    background-color: beige;

    width: 6px !important;

    height: 100%;

    border-top-left-radius:  50em !important;

    border-top-right-radius:  50em !important;

}

.separationBlue{

    background-color: RGB(0,168,168);

    width: 6px !important;

    height: 100%;

    border-radius:  50em !important;

 

}

 

.row{

    display: flex;

    margin-top: 25px;

    margin-left: 25px;

    margin-right: 25px;

}


body{

    background-color:RGB(255,255,255)!important;

    padding: 60px;

    border-radius:50%

}

.a{

    color: black;

}

.a:hover{

color: black;

}

 

:root{

    --couleur-principale: RGB(0,168,168);

}

 

.titre{

    text-align: center;

    background-color:var(--couleur-principale);

}

 

.card{

    text-align: center;

    background-color:var(--couleur-principale);

 

}

div{

    background-color:var(--couleur-principale);

 

}

h1{

    background-color:var(--couleur-principale);

}

#map{

   display: flex;

}

 

/* .container{

    display: flex ;

    border-radius:50%

   

    margin-left: 25px ;

    margin-right: 25px;

} */

 

.card ,test{

    margin-top: 25px;

    margin-right: 25px;

    border-radius:50%

}

 

.separationWhite{

    background-color: beige;

    width: 3px !important;

    height: 100%;

    border-radius: 50em !important;

}

 

.row{

    display: flex;

    margin-top: 25px;

    margin-left: 25px;

    margin-right: 25px;

}

 

 

 


 

body{

    background-color:RGB(255,255,255)!important;

    padding: 60px;

    border-radius:50%

}

.a{

    color: black;

}

.a:hover{

color: black;

}





:root{

    --couleur-principale: 
RGB(0,168,168);

}





.titre{

    text-align: center;

    background-color:var(--couleur-principale);

}



.card{

    text-align: center;

    background-color:var(--couleur-principale);



}

div{

    background-color:var(--couleur-principale);



}

h1{

    background-color:var(--couleur-principale);

}

#map{

   display: flex;

}



/* .container{

    display: flex ;

    border-radius:50%

    

    margin-left: 25px ;

    margin-right: 25px;

} */





.card
,test{

    margin-top: 25px;

    margin-right: 25px;

    border-radius:50%

}



.separationWhite{

    background-color: beige;

    width: 3px
!important;

    height: 100%;

    border-radius: 50em
!important;

}



.row{

    display: flex;

    margin-top: 25px;

    margin-left: 25px;

    margin-right: 25px;

}


